		<fieldset class="col-sm-12 bordure">
			<legend class="legende">{{ 'BookMember' | translate }}</legend>
		
			<div ng-include src="'partials/message-include.html'"></div>
			
			<table class="table table-striped">
				<thead>
					<tr>
						<th>{{ 'bookMember.id' | translate }}</th>
						<th>{{ 'bookMember.issueDate' | translate }}</th>
						<th>{{ 'bookMember.dueDate' | translate }}</th>
						<th><a class="btn btn-info" href='#/bookMember/new'>{{ 'create' | translate }}</a></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="bookMember in bookMembers">
						<td>{{bookMember.id}}</td>
						<td>{{bookMember.issueDate | date:'shortDate'}}</td>
						<td>{{bookMember.dueDate | date:'shortDate'}}</td>
						<td><a class="btn btn-info" href="#/bookMember/{{bookMember.id}}">{{ 'edit' | translate }}</a></td>
					</tr>
				</tbody>
			</table>
		</fieldset>
