#Telosys-Tools properties
#Wed Sep 27 17:01:57 IST 2017
ProjectVariable.PROJECT_NAME=ClientAppLibrary
DOC=doc
RES=src/main/resources
ProjectVariable.MAVEN_GROUP_ID=training
ROOT_PKG=org.demo
TemplatesFolder=TelosysTools/templates
WEB=src/main/webapp
DownloadsFolder=TelosysTools/downloads
ProjectVariable.MYVAR=foo
RepositoriesFolder=TelosysTools
ProjectVariable.REST_BASE_URL=http\://localhost\:8080/rest/
SRC=src/main/java
ENTITY_PKG=org.demo.bean
ProjectVariable.MAVEN_ARTIFACT_ID=ClientAppLibrary
TEST_RES=src/test/resources
ProjectVariable.PROJECT_VERSION=0.1
LibrariesFolder=TelosysTools/lib
ProjectVariable.DBID=1
TEST_SRC=src/test/java
ProjectVariable.V2=22
TMP=tmp
